<div>

            <div class="modal-body">

                <div>
                    
                    <span>You are about removing <strong>{{fieldItem.FieldName}}</strong> from this form. Are you sure?</span>
                
                </div>




                </div>
                <div class="modal-footer">
                    <div>

                        <button class="btn btn-primary" ng-click="ok()">Okay</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
        


</div>