@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}
@section Scripts {
    <script src="~/Scripts/js/app.js"></script>
    <script src="~/Scripts/js/controllers/topicController.js"></script>
     <script src="~/Scripts/js/controllers/FormController.js"></script>

    
    <script src="~/Scripts/js/services/topicService.js"></script>
    <script src="~/Scripts/js/services/formfieldService.js"></script>
    <script src="~/Scripts/js/services/fieldTypeService.js"></script>

    <script src="~/Scripts/js/directives/FormBuilder/FormBuilderDirective.js"></script>
    <script src="~/Scripts/js/directives/FormBuilder/FormItemBuilderDirective.js"></script>
        }
<div data-ng-view=""></div>

